.node {
  display: flex;
}

.key {
  border: solid 1px;
  border-collapse: collapse;
  min-width: 2.5rem;
  height: 3rem;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
}

.index {
  margin: auto;
}

.hasCandidate {
  border: solid 2px;
  border-color: red;
}

.compare {
  border: solid 2px;
  border-color: red;
}

.path {
  position: absolute;
  top: 3rem;
}

.next {
  position: absolute;
  top: 5rem;
  right: 5rem;
}
